:root{
    --main-bg-color: #134e5e;
    --soft-bg-color: rgba(29, 128, 121, 0.7);
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(38, 38, 95);
}

/* laptop */
@media only screen and (min-width: 1025px) and (max-width:1920px){
    html{
        scroll-behavior: smooth;
    }

    body{
        background-color: rgb(250, 250, 250);
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }
    
    header{
        height: 180px;
        background-color: var(--main-bg-color);
    }

    #phone-contacts{
        position: absolute;
        left: 150px;
        top: 45px;
        opacity: 0.9;
    }    

    .fa-phone{
        position: relative;
        margin: 10px 7px 0 0;
    }

    .phones{
        display: flex;
        flex-direction: row;
        padding-top: 5px;
    }

    .phone-contact{
        color: white;
        margin-top: 8px;
    }

    h1{
        color: white;
        position: relative;
        font-size: 45px;
        margin-top: 0px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    nav{
        display: flex;
        align-items: baseline;
        padding: 0.5rem;
        gap: 1rem;
        position: relative;
        margin-top: 35px;
        margin-right: 50px;
    }
    
    a{
        text-decoration: none;
    }
    
    #menu{
        display: flex;
        justify-content: space-evenly;
        margin-left: 40px;
        padding: 0;
        width: 100%;
        list-style: none;
        border: solid 1px black;
        height: 40px;
        background-color: rgb(255, 255, 255);
    }
    
    li{
        float: left;
    }
    
    .menu-item{
        display: inline-block;
        font-size: 24px;
        padding: 6.5px 16px;
        width: 120px;
        text-align: center;
  

    }
    
    .menu-item:hover{
        background-color: rgba(56, 119, 133, 0.1);
    
    }

    #whatsapp-icon{
        position: absolute;
        right: 15px;
        bottom: 37px;
    }

    .fa-whatsapp{
        position: relative;
        margin-left: 5px;
    }

    aside{
        position: relative;
        margin-left: 48px;
        font-size: 15px;
        z-index: 1;
        height: 450px;
        width: 300px;
    }

    #form-container{
        position: fixed;
        top: 248px;
        bottom: 150px;
        height: auto;
    }

    #openFormSection{
        position: absolute;
        top: 25px;
        display: none;
    }

    .fa-times-circle{
        display: none !important;
    }

    #contact{
        background: linear-gradient(#134e5e, #579665);
        border-radius: 15px;
        position: relative; 
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 270px;
        height: 450px;
        box-shadow: 5px 5px 6px rgb(38, 38, 95);
    }

    legend{
        color: black;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 3px;
    }

    label{
        margin: 3px 0 3px 0;
        color: rgb(228, 226, 226);
        font-size: 14px;
    }

    textarea{
        resize:none;
    }

    #captcha{
        position: relative;
        margin-top: 5px;
    }

    #sendBtnForm{
        position: relative;
        margin-top: 5px;
        height: 25px;
        background-color: rgb(65, 65, 221);
        color: white;
        border-radius: 5px;
    }
    
    #sendBtnForm:hover{
        border: 1px solid white;
    }

    #article-container{
        position: relative;
        margin-right: 56px;
        margin-top: 75px;
        float: right;
        font-size: 10px;
        text-align: center;
        width: 800px;
        height: 450px;
        background: var(--soft-bg-color);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 8.5px );
        -webkit-backdrop-filter: blur( 8.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    #main-article{
        position: absolute;
        right: 5px;
        top: 15px;
        font-size: 20px;
    }

    #main-article img{
        align-self: center;
        width: 530px;
        height: 240px;
        object-fit: cover;
        scroll-snap-align: center;
        border-radius: 4px;
    }

    #main-article img:hover{
        outline: 1px solid rgb(255, 255, 255);
    }

    figcaption{
        text-align: center;
        color: rgb(226, 241, 243);
    }

    .sub-articles{
        position: absolute;
    }

    .sub-articles img{
        width: 165px;
        height: 100px;
        border-radius: 2px;
        border: inset 1px black;
    }

    .sub-articles img:hover{
        outline: 1px solid rgb(255, 255, 255);
    }

    #article-2{
        top: 25px;
        right: 550px;
    }

    #article-3{
        top: 165px;
        right: 550px;
    }

    #article-4{
        top: 305px;
        right: 550px;
    }

    #article-5{
        top: 305px;
        right: 368px;
    }

    #article-6{
        top: 305px;
        right: 185px;
    }

    #article-7{
        top: 305px;
        right: 5px;
    }

    #services-container{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 300px;
        width: 100%;        
        background-color: rgba(83, 164, 158, 0.18);
    }

    .service-container{
        display: flex;
        flex-direction: row;
        width: 950px;
        height: 200px;
        padding: 5px;
        margin: 10px;
        margin-right: 56px;
        float: right;
        position: relative;
        border: 1px solid black;
        background-color: rgba(31, 135, 128, 0.37);
    }

    .service-container img{
        width: 200px;
        height: 200px;
        float: left;
        margin-right: 50px;
    }

    .service-container p{
        font-size: 16px;
        font-weight: bold;
        line-height: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #last-article{
        margin-bottom: 80px;
    }

    #footer-container{
        position: relative;
        display: block;
    }

    footer{
        position:absolute;
        bottom: 0;   
        height: 60px;
        width: 100%;
        background-color: var(--main-bg-color);
    }

    h5{
        color: rgb(214, 211, 207);
        text-align: center;
    }
}


/* tablet horizontal */
@media screen and (min-width: 769px) and (max-width: 1024px){
    body{
        background-color: rgb(250, 250, 250);
        margin: 0;
        padding: 0;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    header{
        height: 100px;
        background-color: rgb(63, 59, 177);
    }
}

/* tablet vertical */
@media screen and (min-width:481px) and (max-width: 768px){
    body{
        margin: 0;
        padding: 0;
    }

    header{
        height: 100px;
        background-color: rgb(63, 59, 177);    
    }
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 480px){
    body{
        margin: 0;
        padding: 0;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(250, 250, 250);
        width: 100%;
        max-width: 480px;
        min-width: 320px;
        min-height: 100vh;
    }
    
    header{
        position: relative;
    }

    #header-container{
        top: 0;
        position: fixed;
        min-width: 320px;
        max-width: 480px;
        width: 100%;
        height: 120px;
        background-color: var(--main-bg-color);   
        z-index: 1;
    }

    h1{
        position: fixed;
        color: white;
        margin-top: 45px;
        margin-left: 70px;
    }

    #phone-contacts{
        position: absolute;
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        padding: 0 5px;
        left: 55px;
        top: 95px;
        opacity: 0.9;
    }    

    .fa-phone{
        margin-left: 10px;
        margin-right: 4px;
        font-size: 10px;
    }

    .phone-contact{
        font-size: 14px;
        color: white;
    }

    nav{
        position: fixed;
        bottom: -2px;
        height: 30px;    
        max-width: 480px;
        min-width: 320px;
        width: 100%;
    }

    #menu{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        border: solid 1px black;
        background-color: rgb(255, 255, 255);
        font-size: 12px;
        z-index: 1;
        margin-left: 0;
    }
    
    a{
        text-decoration: none;
    }

    main{
        display: none;
    }

    img{
        width: 150px;
        height: 100px;
    }   

    aside{
        position: relative;
        width: 100%;
        min-width: 250px;
        max-width: 400px;
        z-index: 1;
    }

    #openFormSection{
        top: 0;
        position: fixed;   
        z-index: 1;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        justify-content: center;
        align-items: baseline;
    }

    #openFormSection span > mark{
        background-color: white
    }

    #formMobilIcon{
        font-size: 10px;
        height: 15px;
    }

    #form-container{
        display: none;
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #contact{ 
        background: linear-gradient(#134e5e, #579665);
        border-radius: 7px;
        position: fixed; 
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        min-width: 150px;
        max-width: 250px;
        height: 300px;
        left: 17.5%;
        top: 140px;
        font-size: 10px;
        
    }

    .fa-times-circle{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.1rem;
        color: white;
    }

    legend{
        color: black;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 3px;
    }

    input{
        width: 100%;
        font-size: 10px;
    }

    label{
        margin: 5px 0 0 0;
        color: rgb(228, 226, 226);
        font-size: 10px;
    }

    textarea{
        columns: 10;
        resize: none;
        font-size: 10px;
    }

    #captcha{
        display: none;
    }

    #sendBtnForm{
        position: relative;
        margin-top: 20px;
        height: 25px;
        background-color: rgb(65, 65, 221);
        color: white;
        border-radius: 5px;
        width: 100%;
    }
    
    #sendBtnForm:hover{
        border: 1px solid white;
    }

    .cboxes{
        display: flex;
        justify-content: baseline;
        align-items: center;
        font-size: 10px;
        margin: 2.5px 0 0 0;
        width: 0;
    }

    #services-container{
        position: relative;
        display: flex;
        margin-top: 120px;
        flex-wrap: wrap;
        width: 100%;
        max-width: 480px;
        min-width: 300px;  
        background-color: rgba(83, 164, 158, 0.18);
        font-size: 12px;
    }

    .service-container{
        margin-top: 25px;
        margin-left: 33px;
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 150px;
        padding: 5px;
        position: relative;
        border: 1px solid black;
        background-color: rgba(31, 135, 128, 0.37);
        overflow: hidden;
    }

    .service-container img{
        width: 150px;
        height: 100px;
        float: left;
    }

    .service-container p{
        font-weight: bold;
        line-height: 1.1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #last-article{
        margin-bottom: 25px;
    }

    #footer-container{
        position: relative;
        margin-top: 60px;
    }

    footer{
        position:absolute;
        bottom: 0;   
        height: 60px;
        width: 100%;
        background-color: var(--main-bg-color);
    }

    h5{
        font-size: 10px;
        color: rgb(214, 211, 207);
        text-align: center;
    }
}

